/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.justifyRight {
    text-align: right;
}

.justifyCenter {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.no-padded-items {
    ion-item {
        padding:0 !important;
    }
}

.fixed-column-1-20 {
    > ion-row {
        > ion-col:first {
            width: 10px;
        }
    }
    
}

@media screen and (max-width: 680px) {
    .dynText {
        font-size: 20px !important;
    }
    .dynText-small {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 681px) and (max-width: 900px) {
    .dynText {
        font-size: 36px !important;
    }
    .dynText-small {
        font-size: 16px !important;
    }
}

@media screen and (min-width: 901px) and (max-width: 2048px) {
    .dynText {
        font-size: 48px !important;
    }
    .dynText-small {
        font-size: 16px !important;
    }
}