<ion-content>
    <ion-list-header>
      <ion-button *ngIf="!editItem" (click)="toggleAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!editItem" (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button *ngIf="editItem" (click)="applyEdit()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="editItem" (click)="cancelEdit()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-list>
      <ion-item-sliding #schedulesSlide *ngFor="let item of svc.exercises; let i = index;">
        <ion-item *ngIf="!editItem">
          <ion-label color="item.isActive ? 'blue' : 'secondary'">{{ item.name }}
            <p *ngIf="item.type">Type: {{item.type}}</p>
            <p *ngIf="item.musclegroups">Muscle groups: {{item.musclegroups.join(',')}}</p>
            <p *ngIf="item.gauge">Counts: {{item.gauge}}</p>
            <p *ngIf="item.exercise_equipment_map[0].equipment"> 
              <ion-chip *ngFor="let item of equipSvc.equipment | filterBy: 'id' : item.exercise_equipment_map[0].equipment">
                {{item.name}} {{item.weight ? '(' + item.weight + ' kgr)' : ''}} {{item.height ? '(' + item.height + ' cm)' : ''}}
              </ion-chip>
            </p>
          </ion-label>
          <ion-toggle *ngIf="!editItem" slot="end" [value]="item?.isSubscribed" [checked]="item?.isSubscribed" (ionChange)="toggleSubscription(item)"></ion-toggle>
        </ion-item>
        <ion-item-options *ngIf="item.user_id === api.user?.id" side="end">
          <ion-item-option (click)="deleteWithWarning(item)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option *ngIf="!editItem && item.id" (click)="toggleEdit(item)" color="warning">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <form *ngIf="editItem as IExercise" #exercisesForm>
        <ion-grid>
          <ion-row color="primary">
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input name="exercise_name" required [disabled]="editItem.user_id !== api.user?.id" [(ngModel)]="editItem.name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Type</ion-label>
                    <ion-select [value]="editItem.type" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setType($event)" multiple="true" [compareWith]="compareWith">
                        <ion-select-option *ngFor="let type of exerciseTypes" [value]="type">{{type}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Muscle Groups</ion-label>
                    <ion-select [value]="editItem.musclegroups" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setMuscleGroup($event)" multiple="true" [compareWith]="compareWith">
                      <ion-select-option *ngFor="let muscle of muscleGroups" [value]="muscle">{{muscle}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Gauge</ion-label>
                    <ion-select [value]="editItem.gauge" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setGauge($event)" [compareWith]="compareWith">
                      <ion-select-option *ngFor="let gauge of gauges" [value]="gauge">{{gauge}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Equipment</ion-label>
                    <ion-select [value]="editItem.exercise_equipment_map[0].equipment" (ionChange)="setEquipment($event)" multiple="true" [compareWith]="compareWith">
                      <ion-select-option [value]="-1">Body Weight</ion-select-option>
                      <ion-select-option *ngFor="let item of equipSvc.equipment | filterBy:'isSubscribed':true" 
                        [value]="item.id">{{item.name}} {{item.weight ? '(' + item.weight + ' kgr)' : ''}} {{item.height ? '(' + item.height + ' cm)' : ''}}
                      </ion-select-option>
                  </ion-select>
                </ion-item>
                </div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-list>
  </ion-content>
  