<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-chip color="primary">
      <ion-title> Today </ion-title>
    </ion-chip>
    <ion-chip outline color="primary"> 10/10/2021 </ion-chip>
    <ion-chip outline color="primary">
      <ion-label>W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Today</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngFor="let wod of wods">
    <ion-row>
      <ion-col col-12>
        <ion-chip>
          <ion-label>{{'#' + wod.id}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{wod.format}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{'TC: ' + wod.timecap + "'"}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{wod.rounds + ' Rounds'}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="grid-header">
      <ion-col color="primary" col-6>Exercise</ion-col>
      <ion-col col-3>Reps</ion-col>
      <ion-col col-3>Equipment</ion-col>
    </ion-row>
    <ion-row *ngFor="let exercise of wod.exercises">
      <ion-col col-6>{{exercise.name}}</ion-col>
      <ion-col col-3>{{exercise.reps}}</ion-col>
      <ion-col col-3>{{exercise.equipment}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
