.grid-header {
  border-bottom: 1px Solid rgba(255, 255, 255, 0.12);
  font-size: smaller;
}

.left {
  float: left;
}

.right {
  float: right;
}

.timecap {
  color: var(--ion-color-secondary);
}

.subtitle {
  font-size: smaller;
  color: var(--ion-color-medium);
}

.small-label {
  font-size: small;
}

.justify-right {
  text-align: right;
}