<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" size="medium" class="left">
      Today <span class="subtitle">({{today | date : 'MMM d, y'}})</span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-chip outline color="primary" *ngFor="let todaysType of todaysTypes">
      <ion-label>{{todaysType.type}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-button *ngIf="!editItem && !editExercise" (click)="toggleAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!editItem && !editExercise" (click)="shuffle()">
      <ion-icon name="code-working-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!editItem && !editExercise" (click)="invite()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!editItem && !editExercise" (click)="start()">
      <ion-icon name="stopwatch-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="editItem" (click)="!editExercise ? applyEdit() : applyEditExercise()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="editItem" (click)="!editExercise ? cancelEdit() : cancelEditExercise()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-list-header>
  <ion-list>
    <ion-item-sliding #wodsSlide *ngFor="let item of svc.wods; let i = index;">
      <ion-item *ngIf="!editItem && !editExercise">
        <ion-grid>
          <ion-row>
            <ion-col size="2" class="ion-align-self-center" col-1>
              <ion-label>#{{item.id}}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" col-1>
              <ion-label>{{(formats | filterBy:'id':item.formatId)[0]?.name}} <span class="timecap" *ngIf="item.timecap">{{item.timecap + "'"}}</span></ion-label>
              <ion-label color="medium" size="small" *ngIf="item.rounds">{{item.rounds ? item.rounds + ' Rounds' : ''}}</ion-label>
            </ion-col>
            <ion-col class="ion-justify-self-center ion-align-self-center" col-4>
              <ion-button (click)="toggleExerciseAdd(item)">add exercise</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let ex of item.exercises" (click)="toggleExerciseEdit(item,ex)">
            <ion-col size="1" class="ion-align-self-center" col-1>
              <ion-label class="small-label justify-right">{{ex.goal}}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" col-2>
              <ion-label class="small-label">{{(exercises | filterBy:'id':ex.exerciseId)[0]?.name}}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" col-3>
              <ion-chip class="small-label" color="warning" *ngIf="ex.role !== 'Count'">{{ex.role}}</ion-chip>
              <ion-chip class="small-label" *ngIf="(equipment | filterBy:'id':ex.equipmentId)[0] as eq">
                {{eq.name}} {{eq.weight ? ' ' + eq.weight + 'k' : ''}} {{eq.height ? '(' + eq.height + ' cm)' : ''}}
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options *ngIf="item.user_id === api.user?.id" side="end">
        <ion-item-option (click)="deleteWithWarning(item)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option *ngIf="!editItem && item.id" (click)="toggleEdit(item)" color="warning">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form *ngIf="editItem && !editExercise as IWod" #wodForm>
      <ion-grid>
        <ion-row color="primary">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input name="exercise_name" required [disabled]="editItem.user_id !== api.user?.id" [(ngModel)]="editItem.name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Format</ion-label>
                  <ion-select [value]="editItem.formatId" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setFormat($event)" [compareWith]="compareWith">
                      <ion-select-option *ngFor="let format of formats" [value]="format.id">{{format.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Timecap (min)</ion-label>
                  <ion-input name="timecap" type="numeric" [(ngModel)]="editItem.timecap"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Rounds</ion-label>
                  <ion-input name="timecap" type="numeric" [(ngModel)]="editItem.rounds"></ion-input>
                </ion-item>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <form *ngIf="editItem && editExercise as IWodExercise" #exerciseForm>
      <ion-grid>
        <ion-row color="primary">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Exercise</ion-label>
                  <ion-select [value]="editExercise.exerciseId" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setExercise($event)" [compareWith]="compareWith">
                      <ion-select-option *ngFor="let exercise of exercises" [value]="exercise.id">{{exercise.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Role</ion-label>
                  <ion-select [value]="editExercise.role" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setRole($event)" [compareWith]="compareWith">
                    <ion-select-option *ngFor="let role of roles" [value]="role">{{role}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Goal (reps/meters/secs)</ion-label>
                  <ion-input name="timecap" type="numeric" [(ngModel)]="editExercise.goal"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Equipment</ion-label>
                  <ion-select [value]="editExercise.equipmentId" [disabled]="editItem.user_id !== api.user?.id" (ionChange)="setEquipment($event)" [compareWith]="compareWith">
                      <ion-select-option *ngFor="let item of exerciseEquipment" [value]="item.id">
                        {{item.name}} {{item.weight ? '(' + item.weight + ' kgr)' : ''}} {{item.height ? '(' + item.height + ' cm)' : ''}}
                      </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>
      
    </form>
  </ion-list>
</ion-content>
