<ion-content>
  <ion-list-header *ngIf="!editItem">
    <ion-button (click)="toggleAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
  </ion-list-header>
  <ion-list>
      <ion-item-sliding #equipmentSlide *ngFor="let item of svc.equipment; let i = index;">
        <ion-item *ngIf="item.id === editItem?.id || !editItem ">
          <ion-label>{{ item.name }}
            <p *ngIf="item.weight">Weight: {{item.weight}} kgr</p>
            <p *ngIf="item.height">Height: {{item.height}} cm</p>
          </ion-label>
          <ion-toggle *ngIf="!editItem" slot="end" [value]="item?.isSubscribed" [checked]="item?.isSubscribed" (ionChange)="toggleSubscription(item)"></ion-toggle>
        </ion-item>
        <ion-item-options *ngIf="item.user_id === api.user?.id" side="end">
          <ion-item-option (click)="deleteWithWarning(item)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options *ngIf="item.user_id === api.user?.id" side="start">
          <ion-item-option *ngIf="!editItem && item.id" (click)="toggleEdit(item, i)" color="warning">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="item.id === editItem?.id" (click)="applyEdit(i)">
            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="item.id === editItem?.id" (click)="cancelEdit(i)" color="secondary">
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <form *ngIf="editItem as IEquipment" #equipmentForm>
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input name="equipment_name" placeholder="Equipment name" required [(ngModel)]="editItem.name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Weight (kgr)</ion-label>
                  <ion-input name="weight" type="numeric" [(ngModel)]="editItem.weight"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Height (cm)</ion-label>
                  <ion-input name="height" type="numeric" [(ngModel)]="editItem.height"></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-list>
</ion-content>