<ion-content>
  <ion-list-header>
    <ion-button *ngIf="!editItem" (click)="toggleAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!editItem" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button *ngIf="editItem" (click)="applyEdit()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="editItem" (click)="cancelEdit()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-list-header>
  <ion-list>
    <ion-item-sliding #schedulesSlide *ngFor="let item of svc.schedules; let i = index;">
      <ion-item *ngIf="item.id === editItem?.id || !editItem">
        <ion-label color="item.isActive ? 'blue' : 'secondary'">{{ item.name }}
          <p *ngIf="item.days">Cycles every {{item.days > 1 ? item.days + ' days' : item.days + ' day'}}</p>
          <p *ngIf="item?.isSubscribed">is currently at day {{item.day }}</p>
        </ion-label>
        <ion-toggle *ngIf="!editItem" slot="end" [value]="item?.isSubscribed" [checked]="item?.isSubscribed" (ionChange)="toggleSubscription(item)"></ion-toggle>
      </ion-item>
      <ion-item-options *ngIf="item.user_id === api.user?.id" side="end">
        <ion-item-option (click)="deleteWithWarning(item)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options *ngIf="item.user_id === api.user?.id" side="start">
        <ion-item-option *ngIf="!editItem && item.id" (click)="toggleEdit(item)" color="warning">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form *ngIf="editItem as ISchedule" #schedulesForm>
      <ion-grid>
        <ion-row color="primary">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input name="equipment_name" required [(ngModel)]="editItem.name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Cycles every (days)</ion-label>
                  <ion-input name="weight" type="numeric" [(ngModel)]="editItem.days" (ngModelChange)="updatePrograms()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="expand">Programs</ion-label>
                </ion-item>
              </div>
            </ion-col>
        </ion-row>
        <ion-row color="primary" *ngFor="let programDay of editItem.program; let i = index;">
          <ion-col size="3">
              <div padding>
                  <ion-item>
                      <ion-label>Day {{i + 1}}</ion-label>
                  </ion-item>
              </div>
          </ion-col>
          <ion-col size="3" *ngFor="let exerciseTypeItem of programDay.exerciseType; let i = index;">
              <div padding>
                  <ion-item>
                      <ion-select [value]="exerciseTypeItem.type" (ionChange)="setExerciseType($event, exerciseTypeItem, i)" interface="action-sheet" [compareWith]="compareFn">
                          <ion-select-option [value]="'Empty'">-</ion-select-option>
                          <ion-select-option [value]="'Cardio'">Cardio</ion-select-option>
                          <ion-select-option [value]="'Gymnastics'">Gymnastics</ion-select-option>
                          <ion-select-option [value]="'Weightlifting'">Weightlifting</ion-select-option>
                      </ion-select>
                  </ion-item>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
</ion-content>
