<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="toggleCategory($event)">
      <ion-segment-button value="Schedules">
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Formats">
        <ion-label>Formats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Exercises">
        <ion-label>Exercises</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Equipment">
        <ion-label>Equipment</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="viewingCategory">
  <dot-wod-schedules *ngSwitchCase="categories.SCHEDULES"></dot-wod-schedules>
  <dot-wod-formats *ngSwitchCase="categories.FORMATS"></dot-wod-formats>
  <dot-wod-exercises *ngSwitchCase="categories.EXERCISES"></dot-wod-exercises>
  <dot-wod-equipment *ngSwitchCase="categories.EQUIPMENT"></dot-wod-equipment>
</ion-content>
