<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="toggleCategory($event)">
      <ion-segment-button value="Schedules">
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Formats">
        <ion-label>Formats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Exercises">
        <ion-label>Exercises</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Equipment">
        <ion-label>Equipment</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="viewingCategory">
  <ion-label *ngSwitchCase="categories.SCHEDULES">
    <ion-item-sliding #scheduleSlide *ngFor="let item of provider.schedules">

    </ion-item-sliding>
  </ion-label>
  <ion-list *ngSwitchCase="categories.EQUIPMENT">
    <ion-item-sliding #equipmentSlide *ngFor="let item of provider.equipment">
      <ion-item *ngIf="item.id === editItem?.id || !editItem ">
        <ion-label>{{ item.equipment_name }}
          <p *ngIf="item.weight">Weight: {{item.weight}} kgr</p>
          <p *ngIf="item.height">Height: {{item.height}} cm</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteWithWarning(item, equipmentSlide)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option (click)="toggleEdit(item, equipmentSlide)" color="warning">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form *ngIf="editItem as IEquipment" #equipmentForm>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input name="equipment_name" placeholder="Equipment name" required [(ngModel)]="editItem.equipment_name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Weight (kgr)</ion-label>
                <ion-input name="weight" type="numeric" [(ngModel)]="editItem.weight"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Height (cm)</ion-label>
                <ion-input name="height" type="numeric" [(ngModel)]="editItem.height"></ion-input>
              </ion-item>
            </div>
            <ion-item>
              <ion-button size="large" type="button" expand="block" (click)="applyEdit()">Apply</ion-button>
              <ion-button color="secondary" size="large" type="button" expand="block" (click)="cancelEdit()">Cancel</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="toggleAdd()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
