<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="toggleView($event)">
      <ion-segment-button value="Week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Import">
        <ion-label>Import</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [ngSwitch]="viewingCategory">
  <ng-container *ngSwitchCase="categories.WEEK">
    <div class="calendar-title padding">{{this.weekTitle}}</div>
    <ion-grid class="no-padded-items">
      <ion-row>
        <ion-col class="ion-align-self-center justifyCenter" *ngFor="let day of week">
          {{day}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center justifyCenter" *ngFor="let day of week; let i = index;">
          <round-progress [current]="wodsPerDay[i]!.duration" [max]="3600" [rounded]="true" [radius]="15" [stroke]="5">
          </round-progress>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-container *ngSwitchCase="categories.MONTH">

  </ng-container>
  <ng-container *ngSwitchCase="categories.IMPORT">
    <ion-grid class="no-padded-items">
      <ion-row>
        <ion-col class="ion-align-self-center" size="1">
          <ion-label position="floating">Document Id:</ion-label>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-input [(ngModel)]="documentId"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center" size="1">
          <ion-label position="floating">Sheet Name:</ion-label>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-input [(ngModel)]="sheetName"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center" size="1">
          <ion-label position="floating">Import Later than:</ion-label>
        </ion-col>
        <ion-col class="ion-align-self-center" size="3">
          <ion-datetime [(ngModel)]="importStartDate" presentation="date" show-clear-button="true"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center" size="12">
          <ion-button (click)="import()">Import</ion-button>          
        </ion-col>
        <ion-col class="ion-align-self-center" size="12">
          <ion-button (click)="addWodToDatabase()">Add to DB</ion-button>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let item of importedWods as Wod; let i = index;">
        <ion-grid class="no-padded-items">
          <ion-row>
            <ion-col size="1" class="ion-align-self-center">
              <ion-label class="dynText-small" color="medium">{{item.id}}</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-align-self-center">
              <ion-label>{{(formats | filterBy:'id':item.formatId)[0]?.name}} <span class="timecap" *ngIf="item.timecap">{{item.timecap + "'"}}</span><span color="medium"> ({{item.results![0].duration}} sec)</span></ion-label>
              <ion-label class="dynText-small" color="medium" *ngIf="item.rounds">{{item.rounds ? item.rounds + ' Rounds' : ''}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let ex of item.results![0].exercises">
            <ion-col size="1" class="ion-align-self-center">
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
              <ion-chip class="small-label">{{ex.goal}}</ion-chip>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <ion-label class="small-label">{{(exercises | filterBy:'id':ex.exerciseId)[0]?.name}}</ion-label>
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
              <ion-chip class="small-label" color="success">{{ex.achieved}}</ion-chip>
            </ion-col>
            <ion-col size="4" class="ion-align-self-center justifyRight">
              <ion-chip class="small-label" color="warning" *ngIf="ex.role !== 'Count'">{{ex.role}}</ion-chip>
              <ion-chip class="small-label" *ngIf="(equipment | filterBy:'id':ex.equipmentId)[0] as eq">
                {{eq.name}} {{eq.weight ? ' ' + eq.weight + 'k' : ''}} {{eq.height ? '(' + eq.height + ' cm)' : ''}}
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <!-- <ion-grid class="no-padded-items">
      <ion-row>
        <ion-col>
          <ion-label>Id</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Date</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Format</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Timecap</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Rounds</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Type</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Exercise</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Counts</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Equipment</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Qty</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Gauge</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Reps</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Done in</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Total Reps</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of importedWods">
        <ion-col>
          <ion-label>{{row.importId}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.results![0].started_at}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.formatId}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.timecap}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].rounds}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.schedule}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].exerciseId}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].role}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].equipmentId}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].equipmentQty}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Eq W/H</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].goal}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.duration}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{row.exercises![0].achieved}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ng-container>
</ion-content>
