<ion-content>
    <ion-grid *ngIf="watchStatus !== status.LOGGING">
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-6 class="justifyCenter">
                <ion-label class="dynText">{{(formats | filterBy:'id':activeWod.formatId)[0]?.name}} <span class="timecap" *ngIf="activeWod.timecap">{{activeWod.timecap + "'"}}</span></ion-label>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-6 class="center">
                <ion-icon *ngIf="watchStatus === status.READY" class="absolute-center" name="play-outline" (click)="toggleTimer()"></ion-icon>
                <ion-icon *ngIf="watchStatus === status.PAUSED" class="absolute-center" name="pause-outline" (click)="toggleTimer()"></ion-icon>
                <ion-icon *ngIf="watchStatus === status.FINISHED" class="absolute-center" name="checkmark-outline"></ion-icon>
                <ion-icon *ngIf="watchStatus === status.FINISHEDALL" class="absolute-center" name="checkmark-done-outline"></ion-icon>
                <ion-icon *ngIf="watchStatus === status.CANCELLED" class="absolute-center" name="close-outline"></ion-icon>
                <span *ngIf="watchStatus === status.RUNNING" class="dynText absolute-center" (click)="toggleTimer()">{{watchTitle}}</span>
                <round-progress [current]="watchCurrent" [max]="watchMax" [rounded]="true" [radius]="125" [clockwise]="watchClockwise" (click)="toggleTimer()">
                </round-progress>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
        <!-- <ion-row *ngFor="let ex of activeWod?.exercises">
            <ion-col size-md="4" size-lg="4" size-xs="2" class="ion-align-self-center justifyRight">
                <ion-label class="dynText small-label">{{ex.goal}}</ion-label>
            </ion-col>
            <ion-col size-md="4" size-lg="4" size-xs="6"  class="ion-align-self-center justifyCenter">
                <ion-label class="dynText small-label">{{(exercises | filterBy:'id':ex.exerciseId)[0]?.name}}</ion-label>
            </ion-col>
            <ion-col size-md="4" size-lg="4" size-xs="4" class="ion-align-self-center">
                <ion-chip class="small-label" color="warning" *ngIf="ex.role !== 'Count'">{{ex.role}}</ion-chip>
                <ion-chip class="small-label" *ngIf="(equipment | filterBy:'id':ex.equipmentId)[0] as eq">
                    {{eq.name}} {{eq.weight ? ' ' + eq.weight + 'k' : ''}} {{eq.height ? '(' + eq.height + ' cm)' : ''}}
                </ion-chip>
            </ion-col>
        </ion-row> -->
    </ion-grid>
    <form *ngIf="watchStatus === status.LOGGING">
        <ion-grid *ngFor="let wod of wods | filterBy: 'status': status.FINISHED">
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10" class="justifyCenter">
                    <ion-label class="dynText">{{(formats | filterBy:'id':wod.formatId)[0]?.name}} <span class="timecap" *ngIf="wod.timecap">{{wod.timecap + "'"}}</span></ion-label>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row color="primary" *ngFor="let ex of wod.exercises">
                <ion-col size="1"></ion-col>
                <ion-col align-self-center size="10">
                    <div padding>
                    <ion-item>
                        <ion-label color="primary">{{(exercises | filterBy:'id':ex.exerciseId)[0]?.name}}</ion-label>
                        <ng-container *ngIf="(formats | filterBy:'id':wod.formatId)[0]?.log_by === logBy.ROUNDS">
                            <ion-label position="floating">Rounds</ion-label>
                            <ion-input name="rounds" type="number" required [(ngModel)]="ex.rounds"></ion-input>
                        </ng-container>
                        <ion-label position="floating">{{(exercises | filterBy:'id':ex.exerciseId)[0]?.gauge}}</ion-label>
                        <ion-input type="number" *ngIf="(formats | filterBy:'id':wod.formatId)[0]?.log_by === logBy.ROUNDS" name="achivedOffset" required [(ngModel)]="ex.achivedOffset"></ion-input>
                        <ion-input type="number" *ngIf="(formats | filterBy:'id':wod.formatId)[0]?.log_by === logBy.GAUGE" name="achived" required [(ngModel)]="ex.achieved"
                            [attr.placeholder]="'Goal was ' + ex.goal">
                        </ion-input>
                    </ion-item>
                    </div>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
        </ion-grid>
      </form>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="watchStatus === status.RUNNING || watchStatus === status.PAUSED">
        <ion-fab-button (click)="finishWod()">
            <ion-icon *ngIf="watchClockwise" name="checkmark-outline"></ion-icon>
            <ion-icon *ngIf="!watchClockwise" name="close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="registerWod()" *ngIf="watchStatus === status.FINISHED || watchStatus === status.CANCELLED || watchStatus === status.FINISHEDALL">
            <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="logWods()" *ngIf="watchStatus === status.LOGGING">
            <ion-icon name="cloud-upload"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="startNext()" *ngIf="watchStatus === status.FINISHED || watchStatus === status.CANCELLED || watchStatus === status.LOGGING">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>